@import "tailwindcss";

*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --primary-color:#8B171C;
    --secondary-color:#540C0F;
    --thierd-color:#270405;
}

body{
    direction:rtl;
    font-family:"Cairo", serif;    
}
.english-text{
    font-family:"Roboto", serif;
}
.ltr{
    direction:ltr;
}
.logo-footer div{
    background-image: url('/src/assets/logo cadqa.png');
    background-size:auto;
    background-position:center;
}
.sidebar{
    background: rgb(172,119,119);
    background: linear-gradient(90deg, rgba(172,119,119,1) 0%, rgba(139,23,28,1) 70%);  
}

.title h1::before{
    content:'';
    position:absolute;
    width:30%;
    height: 2px;
    background-color:#616161;
    top:20px;
    left:5%;
}
.title h1::after{
    content:'';
    position:absolute;
    width:30%;
    height: 2px;
    background-color:#616161; 
    top:20px;
    right: 5%;  
}
.sidebar-icon{
    transform: translateY(-100px);
}
.sidebar-icon-close{
    transform: translateX(0);
}
.sidebar-icon-manager{
    transform: translateY(-120px);
}
.centerd{
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%); 
}
.colleges{
display:grid;
grid-template-columns: repeat(3, 1fr);
gap: 2rem;
justify-items: center;
}
.sidebar-content-manager{
  transform: translateY(-0px);  
  
}
canvas{
    width: 150px !important;
    height: 150px !important;
}
.statistics canvas{
    width: 800px !important;
    height: 500px !important;
}
input[type="checkbox"] {
    accent-color: var(--primary-color); /* غيّر اللون إلى أي لون تريده */
}

.border-right::after{
    content:'';
    position:absolute;
    width:1px;
    height:60px;
    background-color:var(--secondary-color);
    top:10px;
    right:33%;
}
.border-left::before{
    content:'';
    position:absolute;
    width:1px;
    height: 60px;
    background-color:var(--secondary-color);
    top:10px;
    right:67%;
}

.border-right-sub::after{
    content:'';
    position:absolute;
    width:1px;
    height:60px;
    background-color:var(--secondary-color);
    top:0px;
    right:32%;
}
.border-left-sub::before{
    content:'';
    position:absolute;
    width:1px;
    height: 60px;
    background-color:var(--secondary-color);
    top:0px;
    right:64%;
}
.number-notification{
    transform: translateY(-10px);
}
.icon-submissions{
    transform: translate(-30%,-7%);
}
.border-center-timeline,.border-left-timeline,.border-right-timeline{
    transition: 0.5s all ease-in-out;
}
.border-right-timeline::before{
    content:'';
    position:absolute;
    width:1px;
    height:50px;
    background-color:var(--secondary-color);
    top:5px;
    right:18%;
}
.border-left-timeline::before{
    content:'';
    position:absolute;
    width:1px;
    height: 50px;
    background-color:var(--secondary-color);
    top:5px;
    right:52%;
}
.border-center-timeline::after{
    content:'';
    position:absolute;
    width:1px;
    height:50px;
    background-color:var(--secondary-color);
    top:5px;
    right:37%; 
}
.faculty_line::before{
    content: '';
    position: absolute;
    width: 75%;
    height: 1px;
    background-color:var(--secondary-color);
    top: 15px;
    right: 20%;
}
.faculty_line_close::before{
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    background-color:var(--secondary-color);
    top: 15px;
    right: 15%; 
}

.faculty_doctors_line::before{
    content: '';
    position: absolute;
    width: 70%;
    height: 1px;
    background-color:var(--secondary-color);
    top: 15px;
    right: 25%;
}
.faculty_doctors_line_close::before{
    content: '';
    position: absolute;
    width: 75%;
    height: 1px;
    background-color:var(--secondary-color);
    top: 15px;
    right: 20%; 
}

@media  (max-width:1024px) {
    
    .slider-img{
        width:500px !important;
    }
    .title-slider{
        width:500px !important;
    }
    .login-form{
        width:400px  !important;
    }
    .colleges{
        gap:0;
        row-gap: 1rem;
    }
    .statistics canvas{
        width: 650px !important;
        
    }
    .title h1::before{
        width:27%;
        left:3%;
    }
    .title h1::after{
        width:25%;
        right:3%;
    }
    .faculty_line::before{
        width: 65%;
        right: 30%;
    }
    .faculty_line_close::before{
        width: 75%;
        right: 20%; 
    }
    .faculty_doctors_line::before{
        width: 58%;
        right: 40%;
    }
    .faculty_doctors_line_close::before{
        width: 68%;
        right: 27%; 
    }

}

@media  (max-width:820px) {
    
    .slider-img{
        width:400px !important;
    }
    .title-slider{
        width:400px !important;
    }
    .login-form{
        width:350px  !important;
    }
    .title h1::before{
        width:22%;
        left:3%;
    }
    .title h1::after{
        width:22%;
        right:3%;
    }
    .colleges{
        grid-template-columns: repeat(2, 1fr);
    }
    .statistics canvas{
        width: 500px !important;
         
    }
    .sidebar-icon-close{
        transform: translateX(-30px) !important;
    }
    .border-right-sub::after{
        right:34%;
    }
    .border-left-sub::before{
        right:62%;
    }
    .border-right-timeline::before{

        width:1px;
        height:40px;
        top:5px;
        right:32%;
    }
    .border-left-timeline::before{

        width:1px;
        height: 40px;
        top:5px;
        right:65%;
    }
    .border-center-timeline::after{

        width:600px;
        height:1px;
        top:50px;
        right:0%; 
    }
    .faculty_line::before{
        width: 57%;
        right: 37%;
    }
    .faculty_line_close::before{
        width: 70%;
        right: 25%; 
    }
    .faculty_doctors_line::before{
        width: 45%;
        right: 50%;
    }
    .faculty_doctors_line_close::before{
        width: 60%;
        right: 35%; 
    }
}

@media  (max-width:768px){

    .footer{
        height: 270px;
    }
    .slider-img{
        width:350px !important;
    }
    .title-slider{
        width:350px !important;
    }
    .login-form{
        width:350px  !important;
    }
    .phone{
        width: 350px !important;
    }
    .statistics canvas{
        width: 450px !important;   
    }
    .title h1::before{
        width:20%;
        left:3%;
    }
    .title h1::after{
        width:20%;
        right:3%;
    }
    .sidebar-icon-close{
        transform: translateX(-30px) !important;
    }
    .faculty_line::before{
        width: 55%;
        right: 40%;
    }
    .faculty_line_close::before{
        width: 70%;
        right: 25%; 
    }
    .faculty_doctors_line::before{
        width: 40%;
        right: 55%;
    }
    .faculty_doctors_line_close::before{
        width: 60%;
        right: 35%; 
    }

}

@media  (max-width:450px){

    .footer{
        height: 700px;
    }
    .slider-img{
        width:100% !important;
    }
    .title-slider{
        width:100% !important;
    }
    .login-form{
        width:350px  !important;
    }
    .phone{
        width: 350px !important;
    }
    .title h1::before{
        width:0;
    }
    .title h1::after{
        width:0;
    }
    .colleges{
        grid-template-columns: repeat(1, 1fr);
    }
    .statistics canvas{
        width: 350px !important;
        height: 600px !important;    
    }
    .border-right::after{
        width:200px;
        height:1px;
        background-color:var(--secondary-color);
        top:90px;
        right:10%;
    }
    .border-left::before{
        width:200px;
        height: 1px;
        background-color:var(--secondary-color);
        top:160px;
        right:10%;
    }
    .border-right-sub::after{
        width:240px;
        height:1px;
        top:70%;
        right:0;
    }
    .border-left-sub::before{
        width:240px;
        height: 1px;
        top:40%;
        right:0;
    }
    .icon-submissions{
        transform: translate(5%,40%);
    }
    .border-right-timeline::before{

        width:250px;
        height:1px;
        top:50px;
        right:5%;
    }
    .border-left-timeline::before{

        width:250px;
        height: 1px;
        top:150px;
        right:5%;
    }
    .border-center-timeline::after{

        width:250px;
        height:1px;
        top:100px;
        right:5%; 
    }
    .faculty_line::before{
        width: 0;
        right:0;
        height: 0;
    }
    .faculty_line_close::before{
        width: 0;
        right: 0; 
        height: 0;
    }
    .faculty_doctors_line::before{
        width:0;
        right: 0;
        height: 0;
    }
    .faculty_doctors_line_close::before{
        width:0;
        right:0; 
        height: 0;
    }
    

}